.card-item {
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	width: max-content;
}

.card__heading {
	height: 40px;
	width: 290px;
	background: rgba(237, 232, 245, 0.5);
	position: relative;
}

.card__title {
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #2b2839;
	position: absolute;
	top: 13px;
	left: 20px;
}

.card__content {
	margin-top: -40px;
	height: 210px;
	width: 290px;
	background-color: #f6fafb;
	border-radius: 3px;
	box-shadow: 0px 4px 12px #ebebeb;
	padding: 47px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #2b2839;
}

.card__content hr {
	margin: 0;
	border: 0;
	clear: both;
	display: block;
	width: 100%;
	background-color: #f2f2f2;
	height: 1px;
	opacity: 1;
}
