.text {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-style: normal;
}

.header {
	height: 261px;
	background: linear-gradient(
		267.21deg,
		#900793 0.16%,
		rgba(134, 4, 137, 0.785707) 0.16%,
		rgba(159, 12, 162, 0.762269) 43.22%,
		rgba(5, 1, 190, 0.734375) 98.12%,
		rgba(0, 28, 126, 0.619792) 100.15%,
		rgba(6, 77, 142, 0.447917) 102.03%,
		rgba(1, 0, 60, 0) 102.73%
	);
	padding-left: calc(50% - 720px);
	padding-right: calc(50% - 720px);
}

.header__center {
	width: 1440;
	position: relative;
}

.header__label {
	position: absolute;
	top: 106px;
	left: 110px;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__image {
	position: absolute;
	top: 21px;
	right: 120px;
}

.filters {
	grid-area: filters;
}

.sorting {
	grid-area: sorting;
}

.cards-field {
	grid-area: cards-field;
}

.footer {
	grid-area: footer;
}

.central-content {
	display: grid;
	grid-auto-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"filters sorting"
		"filters cards-field";
	padding-left: calc(50% - 720px);
	padding-right: calc(50% - 720px);
}
